.start {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    width: 100%;

}
h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}